<!DOCTYPE html>
<html lang="de">
	<head>
		<title>HAKRO Dialog</title>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, user-scalable=no"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
		/>
		<link
			rel="stylesheet"
			href="{{url_for('static', filename='assets/css/hakro.css')}}"
		/>
		<noscript>
			<link rel="stylesheet" href="static/assets/css/noscript.css" />
		</noscript>
	</head>

	<body>
		<div class="header">
			<a href="/"
				><img
					class="brand-logo"
					src="{{url_for('static', filename='images/hakro-logo.svg')}}"
					alt=""
			/></a>
		</div>
		<div class="mobile">
			<h2>Bitte rufen sie diese Seite über Ihren Mac oder PC auf.</h2>
			<a href="https://www.hakro.com">Weiter zu Hakro.com</a>
		</div>

		<div class="desktop">
			<div class="container">
				<div class="col s12">
					<div class="section">
						<h1>LIEBE HAKRO FACHHANDELSPARTNER,</h1>
						<h2>
							Vielen Dank für Ihre zahlreiche Teilnahme am HAKRO Verkaufsmailing. 
						</h2>
					</div>
				</div>
			</div>
			<div class="footer_green" style="position: absolute; width: 100%; bottom: 0;">
				<div class="footer_container">
					<div>
						<a
							class="footer_item_white"
							target="blank"
							href="https://www.hakro.com/impressum"
							>Impressum</a
						>
					</div>
					<div>
						<a
							class="footer_item_white"
							target="blank"
							href="https://www.hakro.com/"
						>
							2022 HAKRO GmbH, all rights reserved</a
						>
					</div>
				</div>
			</div>

			<!-- Scripts -->
			<script
				type="text/javascript"
				src="https://code.jquery.com/jquery-2.1.1.min.js"
			></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		</div>
	</body>
</html>
