<!DOCTYPE html>
<html lang="de">

<head>
  <title>HAKRO Dialog</title>
  <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link rel="stylesheet" href="{{url_for('static', filename='assets/css/hakro.css')}}" />
  <noscript>
    <link rel="stylesheet" href="static/assets/css/noscript.css" />
  </noscript>
</head>

<body style="background-color: #b6c24f">
  <div class="header">
    <a href="/"><img class="brand-logo" src="{{url_for('static', filename='images/hakro-logo-ww.svg')}}" alt="" /></a>
  </div>

  <div class="container main">
    <div class="row section">
      <h1 style="color: white">Geschafft! 🎉</h1>
      <h2 style="color: white; margin-bottom: 100px">
        Sie haben Ihre Daten erfolgreich hochgeladen. 
        Eine Kontaktaufnahme mit Ihnen folgt in Kürze.
      </h2>
      <button onclick="window.location.href="https://www.hakro.com" class="button_primary">
        Weiter auf HAKRO.COM
        </a>
    </div>
  </div>

  <!-- Scripts -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='assets/js/hakro.js')}}"></script>
</body>

</html>