:root {
  --hakro-red: #e4032d;
  --hakro-green: #b6c24f;
  --hakro-lightgray: #c6c6c6;
  --hakro-darkgray: #949494;
}

@font-face {
  font-family: "Conduit ITC Medium";
  src: url(Conduit-ITC-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "National Book";
  src: url(National-Book_0.otf) format("opentype");
}

@font-face {
  font-family: "National Medium";
  src: url(National-Medium_1.otf) format("opentype");
}

h1,
h3,
button,
.qr_note {
  font-family: "Conduit ITC Medium";
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

input,
label,
h2,
h4,
h5,
h6 {
  font-family: "National Book";
  -webkit-font-smoothing: antialiased;
}

a,
p,
li,
input,
textarea,
ol,
ul {
  font-family: "National Book";
  -webkit-font-smoothing: antialiased;
}

li > a.scrolly {
  font-family: "Conduit ITC Medium";
  text-transform: uppercase;
}

h1 {
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 36px;
    line-height: 38px;
    margin-top: 0px;
  }
}

h2 {
  font-size: 28px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}

@media only screen and (max-width: 640px) {
  h2 {
    font-size: 26px;
    line-height: 30px;
    margin-top: 20px;
  }
}

h3 {
  font-size: 42px;
  line-height: 46px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 60px;
}

@media only screen and (max-width: 640px) {
  h3 {
    font-size: 30px;
    line-height: 32px;
    margin: 0;
    padding: 0;
    margin-bottom: 26px;
    margin-top: 30px;
  }
}

a,
p,
ol,
ul {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  list-style-type: circle;
  transition: 0.2s;
}

.white_text {
  color: white;
}

a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

@media only screen and (max-width: 640px) {
  a,
  p,
  ol,
  ul {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}

li::before {
  content: "•";
  margin: 0 14px;
  color: black;
}

.section {
  padding-bottom: 10px;
  padding-top: 10px;
}

.button_primary,
.button_secondary,
.button_primary_white {
  font-family: "Conduit ITC Medium";
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  border-radius: 50px;
  padding: 20px 30px;
  border: none;
  float: left;
  position: relative;
  transition: 0.2s;
  left: -4px;
}

@media only screen and (max-width: 640px) {
  .button_primary,
  .button_secondary,
  .button_primary_white {
    width: 100%;
  }
}

.input-field {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 0px;
}

.input-field > label,
::placeholder {
  font-family: "National Book";
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  color: var(--hakro-darkgray);
}

@media only screen and (max-width: 640px) {
  .input-field > label {
    font-size: 20px;
  }
}

.input-field > label:not(.label-icon).active {
  transform: translateY(-10px) scale(0.6);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.file-field .file-path-wrapper {
  overflow: hidden;
  padding-left: 10px;
  padding-top: 7px;
}

input:not([type]),
input[type="text"]:not(.browser-default),
input[type="password"]:not(.browser-default),
input[type="email"]:not(.browser-default),
input[type="url"]:not(.browser-default),
input[type="time"]:not(.browser-default),
input[type="date"]:not(.browser-default),
input[type="datetime"]:not(.browser-default),
input[type="datetime-local"]:not(.browser-default),
input[type="tel"]:not(.browser-default),
input[type="number"]:not(.browser-default),
input[type="search"]:not(.browser-default),
textarea.materialize-textarea {
  transform: translateY(-7px) scale(1);
  font-size: 20px;
  border-bottom: 1px solid var(--hakro-lightgray);
  height: 2.4rem;
}

@media only screen and (max-width: 640px) {
  input:not([type]),
  input[type="text"]:not(.browser-default),
  input[type="password"]:not(.browser-default),
  input[type="email"]:not(.browser-default),
  input[type="url"]:not(.browser-default),
  input[type="time"]:not(.browser-default),
  input[type="date"]:not(.browser-default),
  input[type="datetime"]:not(.browser-default),
  input[type="datetime-local"]:not(.browser-default),
  input[type="tel"]:not(.browser-default),
  input[type="number"]:not(.browser-default),
  input[type="search"]:not(.browser-default),
  textarea.materialize-textarea {
    font-size: 20px;
  }
}

input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid var(--hakro-green);
  -webkit-box-shadow: 0 1px 0 0 var(--hakro-green);
  box-shadow: 0 1px 0 0 var(--hakro-green);
}

input.valid:not([type]),
input.valid:not([type]):focus,
input.valid[type="text"]:not(.browser-default),
input.valid[type="text"]:not(.browser-default):focus,
input.valid[type="password"]:not(.browser-default),
input.valid[type="password"]:not(.browser-default):focus,
input.valid[type="email"]:not(.browser-default),
input.valid[type="email"]:not(.browser-default):focus,
input.valid[type="url"]:not(.browser-default),
input.valid[type="url"]:not(.browser-default):focus,
input.valid[type="time"]:not(.browser-default),
input.valid[type="time"]:not(.browser-default):focus,
input.valid[type="date"]:not(.browser-default),
input.valid[type="date"]:not(.browser-default):focus,
input.valid[type="datetime"]:not(.browser-default),
input.valid[type="datetime"]:not(.browser-default):focus,
input.valid[type="datetime-local"]:not(.browser-default),
input.valid[type="datetime-local"]:not(.browser-default):focus,
input.valid[type="tel"]:not(.browser-default),
input.valid[type="tel"]:not(.browser-default):focus,
input.valid[type="number"]:not(.browser-default),
input.valid[type="number"]:not(.browser-default):focus,
input.valid[type="search"]:not(.browser-default),
input.valid[type="search"]:not(.browser-default):focus,
textarea.materialize-textarea.valid,
textarea.materialize-textarea.valid:focus,
.select-wrapper.valid > input.select-dropdown {
  border-bottom: 1px solid var(--hakro-green);
  -webkit-box-shadow: 0 1px 0 0 var(--hakro-green);
  box-shadow: 0 1px 0 0 var(--hakro-green);
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid var(--hakro-green);
  background-color: var(--hakro-green);
  color: black;

  /* z-index: 0; */
}

[type="checkbox"] + span:not(.lever) {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  /* height: 25px; */
  line-height: 25px;
  font-size: 20px;
  color: black;
  margin: 10px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media only screen and (max-width: 640px) {
  [type="checkbox"] + span:not(.lever) {
    font-size: 20px;
  }
}

[type="checkbox"]:checked + span:not(.lever):before {
  top: -4px;
  left: -5px;
  width: 12px;
  height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid var(--hakro-green);
  border-bottom: 2px solid var(--hakro-green);
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

[type="checkbox"] + span:not(.lever):before,
[type="checkbox"]:not(.filled-in) + span:not(.lever):after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  z-index: 0;
  border: 2px solid var(--hakro-lightgray);
  border-radius: 1px;
  margin-top: 3px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.button_row {
  display: flex;
  justify-content: space-between;
}
.button_primary {
  color: white;
  background-color: var(--hakro-red);
  border: 1px solid var(--hakro-red);
}

.button_primary_white {
  color: black;
  background-color: white;
  border: 1px solid white;
}

.button_secondary {
  color: black;
  background-color: transparent;
  border-color: black;
  border: 1px solid var(--hakro-darkgray);
}
.button_primary:hover {
  background-color: #c90025;
  cursor: pointer;
}

.button_primary_white:hover {
  background-color: rgba(255, 255, 255, 0.845);
  cursor: pointer;
}

.button_secondary:hover {
  border: 1px solid black;
  cursor: pointer;
}

.header {
  margin: 50px 50px 30px 30px;
}

@media only screen and (max-width: 640px) {
  .header {
    margin: 50px 50px 50px 32px;
  }
}

.brand-logo {
  width: auto;
}

@media only screen and (max-width: 640px) {
  .brand-logo {
    width: 100px;
  }
}

.parental_div {
  position: relative;
  top: 0;
  left: 0;
}

.container {
  position: relative;
  width: 100%;
  max-width: 700px;
  line-height: 0;
  padding: 0 30px;
}

@media only screen and (max-width: 640px) {
  .container {
    /* padding: 0 15px; */
  }
}

.overlay_logo_container {
  width: 174px;
  height: 70px;
  position: absolute;
  top: 63.3%;
  left: 11.3%;
  display: flex;
  align-items: flex-end;
}

.container img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.overlay_logo {
  position: relative;
}

.overlay_logo_text {
  width: 31%;
  position: absolute;
  top: 80.625%;
  left: 10.05%;
  text-align: center;
  font-size: 8.7px;
  line-height: 10px;
}

.overlay_qr {
  width: 15%;
  position: absolute;
  top: 72.8%;
  left: 18.3%;
}

.overlay_qr_small {
  width: 4.6%;
  position: absolute;
  top: 59.1%;
  left: 11.9%;
}

.overlay_qr_text {
  font-size: 15px;
  line-height: 20px;
  width: 49%;
  position: absolute;
  top: 68.766%;
  left: 37.09%;
}

.overlay_qr_text_small {
  font-size: 4.7px;
  line-height: 6.4px;
  width: 23%;
  position: absolute;
  top: 58.666%;
  left: 17.79%;
}

.t1 {
  position: relative;
  font-weight: 85;
  top: -225px;
  left: 150px;
  border: 1px white;
}
.qr {
  position: relative;
  max-height: 100px;
  top: -290px;
  left: 300px;
  border: 1px white;
}
.t2 {
  position: relative;
  font-weight: 85;
  top: -200px;
  left: 430px;
  border: 1px white;
}

#content {
  position: relative;
}
#content img {
  position: absolute;
  top: 10px;
  left: 10px;
}
td,
th {
  font-family: "Courier New", Courier, monospace;
  color: #555555;
  font-weight: 500;
  padding: 7px 14px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
  background: #f6f6f6;
  line-height: 16px;
  white-space: nowrap;
}

ul {
  list-style: none;
  text-indent: -35px;
  margin-left: 28px;
}

li::before {
  content: "• ";
  color: var(--hakro-red);
}

.mobile {
  display: none;
}
@media only screen and (max-width: 640px) {
  .mobile {
    display: block;
    margin: auto;
    text-align: center;
    padding: 50px;
    margin: auto;
    text-align: center;
    padding: 50px;
    position: absolute;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
  }
}

.desktop {
  display: block;
}

@media only screen and (max-width: 640px) {
  .desktop {
    display: none;
  }
}

.footer_container {
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  margin: auto;
}

@media only screen and (max-width: 640px) {
  .footer_container {
    flex-direction: column;
    align-items: center;
    line-height: 50px;
  }
}

.footer_green,
.footer_white {
  margin-top: 20px;
  height: 30px;
  padding-top: 50px;
  padding-bottom: 150px;
  background-color: #00000009;
}

.footer_green {
  background-color: var(--hakro-green);
}

.footer_white {
  background-color: white;
}

.footer_item_black,
.footer_item_white {
  font-size: 20px;
  padding: 0 30px;
}

@media only screen and (max-width: 640px) {
  .footer_item_black,
  .footer_item_white {
    padding: 0 0;
    text-align: center;
  }
}

.footer_item_black {
  color: black;
}

.footer_item_white {
  color: white;
}

.sticky_container {
  height: 870px;
  position: absolute;
  left: -2.1%;
  pointer-events: none;
}

.sticky_element,
.fixed_element {
  background-color: #b3c333;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 733px;
  height: 140px;
  z-index: 100;
  margin: -20px auto auto auto;
  box-shadow: 0px 7px 26px #0000004d;
}

.fixed_element {
  position: relative;
  top: -13px;
  left: -48px;
}

.overlay_sticky_text {
  width: 79%;
  position: absolute;
  top: 20.925%;
  left: 19.05%;
  text-align: left;
  font-size: 13.7px;
  line-height: 16px;
}
.overlay_sticky_qr {
  width: 12%;
  position: absolute;
  top: 19.3%;
  left: 3.7%;
}

.qr_note {
  font-size: 12px;
  line-height: 20px;
  margin-top: 0px;
  color: #005800;
}

.img_preview {
  position: relative;
}

.img_shadow {
  box-shadow: 0 2px 8px #0000004f;
}
.row {
  margin-bottom: 0px;
}

.shirt_container {
  overflow: hidden;
  background: radial-gradient(
    at 75% bottom,
    rgb(232 114 114) 0%,
    rgb(144 26 63) 100%
  );

  margin: 0;
  padding: 0;
  /* margin-bottom: 30px; */
}

.shirt_wrapper {
  height: 350px;
  max-width: 700px;
  padding-left: 30px;
  padding-top: 30px;
  margin: auto;
}

@media only screen and (max-width: 640px) {
  .shirt_wrapper {
    height: auto;
  }
}

.shirt_text {
  max-width: 420px;
}
@media only screen and (max-width: 640px) {
  .shirt_text {
    max-width: 1000px;
    padding-right: 30px;
  }
}

.shirt_img {
  height: 350px;
  position: relative;
  top: -301px;
  right: -425px;
}

@media only screen and (max-width: 640px) {
  .shirt_img {
    top: 5px;
    right: 18px;
    height: 109vw;
  }
}
